@model Slider

@{
  Layout = "_AdminLayout";
}

<div class="row">
  <div class="col">
    <div class="card">
       <div class="card-body text-center">
          <p>
            @Model.SliderId isimli Slider' ı silmek istiyor musunuz ?
          </p>
          <form asp-controller="Slider" asp-action="DeleteConfirm" method="post">
            <input type="hidden" name="Id" value="@Model.SliderId">
            <button type="submit" class="btn btn-danger" style="width: 300px; border-radius: 40px;">Sil</button>
            <a class="btn btn-primary" style="width: 300px; border-radius: 40px;" asp-controller="Slider" asp-action="Index">İptal</a>
          </form>
       </div>
    </div>
  </div>
</div>