@using Duende.IdentityServer.Extensions
@model List<Product>
@using Microsoft.AspNetCore.Identity
@using webBackend.Models   


@section Bar {
    @await Component.InvokeAsync("Navbar")
}

@inject UserManager<AppUser> UserManager

@{
    AppUser? currentUser = null;

    if (User?.Identity?.IsAuthenticated ?? false)
    {
        currentUser = await UserManager.GetUserAsync(User);
    }
}

<section class="mt-3">
    <div class="container">
        <div class="mb-3">

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <div id="loginAlert"
                     class="alert alert-success fade show d-flex justify-content-between align-items-center">
                    <div>
                        @if (currentUser != null)
                        {
                            <strong>Merhaba,</strong> <strong>@currentUser.AdSoyad</strong> 
                        }
                    </div>
                </div>

                <div class="card p-auto">
                    <div class="row p-1 p-lg-2 gx-2">

                        <div class="col-lg-3 d-none d-lg-block">
                            @await Html.PartialAsync(
                                "Partials/Site/_Menu",
                                ViewData["Kategoriler"]
                            )
                        </div>

                        <div class="col-lg-9">
                            <!-- slider -->
                            @await Component.InvokeAsync("Slider")
                        </div>

                    </div>
                </div>
                <section class="mt-3">
                     <div class="container">
                        <h3 class="h4 mb-1 mb-lg-3">Son Eklenenler</h3>
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                            @foreach (var product in Model)
                            {
                                <div class="col">
                                    @await Html.PartialAsync(
                                        "Partials/Site/_UrunCard",
                                        product
                                    )
                                </div>
                            }
                         </div>
                    </div>
                </section>
            }
            else
            {
                if (TempData["RegisterInfo"] is not null)
                {
                    <div class="alert alert-info">
                        @TempData["RegisterInfo"]
                    </div>
                }

                if (TempData["ConfirmSuccess"] is not null)
                {
                    <div class="alert alert-success">
                        @TempData["ConfirmSuccess"]
                    </div>
                }

                if (TempData["ConfirmError"] is not null)
                {
                    <div class="alert alert-danger">
                        @TempData["ConfirmError"]
                    </div>
                }


                <div class="card p-auto">
                    <div class="row p-1 p-lg-2 gx-2">

                        <div class="col-lg-3 d-none d-lg-block">
                            @await Html.PartialAsync(
                                "Partials/Site/_Menu",
                                ViewData["Kategoriler"]
                            )
                        </div>

                        <div class="col-lg-9">
                            @await Component.InvokeAsync("Slider")
                        </div>

                    </div>
                </div>

                <section class="mt-3">
                     <div class="container">
                        <h3 class="h4 mb-1 mb-lg-3">Son Eklenenler</h3>
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
                            @foreach (var product in Model)
                            {
                                <div class="col">
                                    @await Html.PartialAsync(
                                        "Partials/Site/_UrunCard",
                                        product
                                    )
                                </div>
                            }
                         </div>
                    </div>
                </section>

                
            }

                

        </div>
    </div>
</section>

<script>
    setTimeout(() => {
        const alert = document.getElementById("loginAlert");
        if (alert) {
            alert.classList.remove("show");
        }
    }, 4000);
</script>
